<%= form_with(model: servicio, local: true) do |f| %>
  <%= render 'partials/errores', object: f.object %>

  <h5 class="text-center"><%= yield(:page_title) %></h5>
  
  <ul class="row">
    <li class="col-6 list-group-item">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, id: :servicio_nombre, class: "form-control", required: true %>
    </li>

    <li class="col-6 list-group-item">
      <%= f.label :tipo_servicio_id, "Tipo de Servicio" %>
      <%= f.collection_select :tipo_servicio_id, TipoServicio.order(:tipo), :id, :tipo, {prompt: "Seleccione una opción"}, {class: "form-control", required: true} %>
    </li>

    <li class="col-12 list-group-item">
      <div class="text-center">
        <%= f.submit "Guardar", class: "btn btn-primary btn-lg" %>
      </div>
    </li>
  </ul>
<% end %>
<br>