<%= form_with(model: tipo_entidad, local: true) do |form| %>
  <% if tipo_entidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_entidad.errors.count, "error") %> prohibited this tipo_entidad from being saved:</h2>

      <ul>
      <% tipo_entidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center"><%= yield(:page_title) %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="field">
          <%= form.text_field :tipo, id: :tipo_entidad_tipo, class: "form-control" %>
        </div>
      </li>

      <li class="list-group-item">
        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
<br>
