<%= form_with(model: tipo_entidad, local: true) do |form| %>
  <% if tipo_entidad.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        La forma tiene <%= pluralize(tipo_entidad.errors.count, "error") %>.
      </div>
      <ul>
      <% tipo_entidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center"><%= yield(:page_title) %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="field">
          <%= form.text_field :tipo, id: :tipo_entidad_tipo, class: "form-control", required: true %>
        </div>
      </li>

      <li class="list-group-item">
        <div class="actions text-center">
          <%= form.submit "Guardar", class: "btn btn-primary btn-lg" %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
<br>
