      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <%= link_to "AG7", root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if logged_in? %>
              <% if user_admin? %>
                <li class="nav-item">
                  <%= link_to "Nuevo Usuario", signup_path, class: "nav-link #{yield(:usuarios_active)}" %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to "Tipo Entidades", tipo_entidades_path, class: "nav-link #{yield(:tipo_entidades_active)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Entidades", entidades_path, class: "nav-link #{yield(:entidades_active)}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Cerrar Sesión', logout_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Iniciar Sesión", login_path, class: "nav-link #{yield(:sesiones_active)}" %>
              </li>
            <% end %>
          </ul>
        </div>        
      </nav>
