<%= form_with(model: entidad, local: true) do |form| %>
  <% if entidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entidad.errors.count, "error") %> prohibited this entidad from being saved:</h2>

      <ul>
      <% entidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5 class="text-center"><%= yield(:page_title) %></h5>
  
  <div class="container">
    <ul class="row">
      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :nombre %>
          <%= form.text_field :nombre, id: :entidad_nombre %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :rfc, "RFC" %>
          <%= form.text_field :rfc, id: :entidad_rfc %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :curp, "CURP" %>
          <%= form.text_field :curp, id: :entidad_curp %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :direccion, "Dirección" %>
          <%= form.text_field :direccion, id: :entidad_direccion %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :no_ext, "Número Exterior" %>
          <%= form.text_field :no_ext, id: :entidad_no_ext %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :no_int, "Número Interior" %>
          <%= form.text_field :no_int, id: :entidad_no_int %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :delegacion, "Delegación" %>
          <%= form.text_field :delegacion, id: :entidad_delegacion %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :colonia %>
          <%= form.text_field :colonia, id: :entidad_colonia %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :estado %>
          <%= form.text_field :estado, id: :entidad_estado %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :pais, "País" %>
          <%= form.text_field :pais, id: :entidad_pais %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :codigo_postal, "Código Postal" %>
          <%= form.text_field :codigo_postal, id: :entidad_codigo_postal %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :telefono_1, "Teléfono 1" %>
          <%= form.text_field :telefono_1, id: :entidad_telefono_1 %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :telefono_2, "Teléfono 2" %>
          <%= form.text_field :telefono_2, id: :entidad_telefono_2 %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :telefono_3, "Teléfono 3" %>
          <%= form.text_field :telefono_3, id: :entidad_telefono_3 %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email, id: :entidad_email %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :contacto_1 %>
          <%= form.text_field :contacto_1, id: :entidad_contacto_1 %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :contacto_2 %>
          <%= form.text_field :contacto_2, id: :entidad_contacto_2 %>
        </div>
      </li>

      <li class="col-md-4 list-group-item">
        <div class="field">
          <%= form.label :tipo_entidad_id, "Tipo de Entidad" %>
          <%= form.collection_select :tipo_entidad_id, TipoEntidad.order(:tipo),:id,:tipo %>
        </div>
      </li>

      <li class="col-sm-12 list-group-item">
        <div class="actions">
          <%= form.submit "Guardar Entidad", class: "btn btn-primary" %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
<br>
