<%= form_with(model: entidad, local: true) do |form| %>
  <% if entidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entidad.errors.count, "error") %> prohibieron que ésta Entidad sea guardada:</h2>

      <ul>
      <% entidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5 class="text-center"><%= yield(:page_title) %></h5>
  
  <ul class="row">
    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :entidad_nombre, class: "form-control", required: true %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :rfc, "RFC" %>
      <%= form.text_field :rfc, id: :entidad_rfc, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :curp, "CURP" %>
      <%= form.text_field :curp, id: :entidad_curp, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :direccion, "Dirección" %>
      <%= form.text_field :direccion, id: :entidad_direccion, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :no_ext, "Número Exterior" %>
      <%= form.text_field :no_ext, id: :entidad_no_ext, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :no_int, "Número Interior" %>
      <%= form.text_field :no_int, id: :entidad_no_int, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :delegacion, "Delegación" %>
      <%= form.text_field :delegacion, id: :entidad_delegacion, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :colonia %>
      <%= form.text_field :colonia, id: :entidad_colonia, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :estado %>
      <%= form.text_field :estado, id: :entidad_estado, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :pais, "País" %>
      <%= form.text_field :pais, id: :entidad_pais, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :codigo_postal, "Código Postal" %>
      <%= form.text_field :codigo_postal, id: :entidad_codigo_postal, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :telefono_1, "Teléfono 1" %>
      <%= form.text_field :telefono_1, id: :entidad_telefono_1, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :telefono_2, "Teléfono 2" %>
      <%= form.text_field :telefono_2, id: :entidad_telefono_2, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :telefono_3, "Teléfono 3" %>
      <%= form.text_field :telefono_3, id: :entidad_telefono_3, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :email %>
      <%= form.text_field :email, id: :entidad_email, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :contacto_1 %>
      <%= form.text_field :contacto_1, id: :entidad_contacto_1, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :contacto_2 %>
      <%= form.text_field :contacto_2, id: :entidad_contacto_2, class: "form-control" %>
    </li>

    <li class="col-lg-3 col-md-4 col-sm-6 list-group-item">
      <%= form.label :tipo_entidad_id, "Tipo de Entidad" %>
      <%= form.collection_select :tipo_entidad_id, TipoEntidad.order(:tipo), :id, :tipo, {prompt: "Seleccione una opción"}, {class: "form-control", required: true} %>
    </li>

    <li class="col-12 list-group-item">
      <div class="text-center">
        <%= form.submit "Guardar", class: "btn btn-primary btn-lg" %>
      </div>
    </li>
  </ul>
<% end %>
<br>
