<% provide(:entidades_active, 'active') %>
<% provide(:page_title, 'Entidades') %>

<h3 class="text-primary">Entidades</h3>
<br>
<%= link_to 'Nueva Entidad', new_entidad_path, class: "btn btn-lg btn-secondary" %>
<br>
<br>
<table class="table table-striped text-secondary">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo Entidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entidades.each do |entidad| %>
      <tr>
        <td><%= entidad.nombre %></td>
        <td><%= entidad.tipo_entidad.tipo %></td>
        <td><%= link_to 'Editar', edit_entidad_path(entidad), class: "btn btn-sm btn-secondary" %></td>
        <td><%= link_to 'Eliminar', entidad, method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
