<% provide(:entidades_active, 'active') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @entidad.nombre %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @entidad.rfc %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @entidad.curp %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @entidad.direccion %>
</p>

<p>
  <strong>No ext:</strong>
  <%= @entidad.no_ext %>
</p>

<p>
  <strong>No int:</strong>
  <%= @entidad.no_int %>
</p>

<p>
  <strong>Delegacion:</strong>
  <%= @entidad.delegacion %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @entidad.colonia %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @entidad.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @entidad.pais %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @entidad.codigo_postal %>
</p>

<p>
  <strong>Telefono 1:</strong>
  <%= @entidad.telefono_1 %>
</p>

<p>
  <strong>Telefono 2:</strong>
  <%= @entidad.telefono_2 %>
</p>

<p>
  <strong>Telefono 3:</strong>
  <%= @entidad.telefono_3 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entidad.email %>
</p>

<p>
  <strong>Contacto 1:</strong>
  <%= @entidad.contacto_1 %>
</p>

<p>
  <strong>Contacto 2:</strong>
  <%= @entidad.contacto_2 %>
</p>

<p>
  <strong>Tipo entidad:</strong>
  <%= @entidad.tipo_entidad.tipo %>
</p>

<%= link_to 'Edit', edit_entidad_path(@entidad) %> |
<%= link_to 'Back', entidades_path %>
