<% provide(:usuarios_active, 'active') %>
<% provide(:page_title, 'Nuevo Usuario') %>

<div class="row jumbotron">
  <div class="col-md-6 offset-md-3">
    <%= form_for @usuario, url: signup_path do |f| %>
      <%= render 'partials/errores', object: f.object %>

      <%= f.text_field :email, {placeholder: 'Email', class: "form-control"} %>
      
      <%= f.password_field :password, {placeholder: 'Contraseña', class: "form-control"} %>
      
      <%= f.password_field :password_confirmation, {placeholder: 'Confirmar Contraseña', class: "form-control"} %>

      <%= f.label :admin, class: 'checkbox inline' do %>
        <%= f.check_box :admin %>
        <span>Administrador</span>
      <% end %>

      <%= f.submit "Crear Usuario", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
